<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="30">
    <Appenders>
        <Console name="Lambda" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
        
        <Logger name="com.teckiz.journalindex" level="INFO" additivity="false">
            <AppenderRef ref="Lambda"/>
        </Logger>
        
        <!-- Reduce Spring/Hibernate noise -->
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="com.zaxxer.hikari" level="WARN"/>
        <Logger name="com.amazonaws" level="WARN"/>
    </Loggers>
</Configuration>
